body {
    background: rgb(126,0,105);
    background: radial-gradient(circle, rgba(126,0,105,1) 0%, rgba(0,194,145,1) 100%);
}
.game {
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: #fff;
    margin: auto;
    font-weight: 500;
}
.title {
    background-color: rgb(0, 194, 145);
    padding: 5px 0;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
}
span {
    color: rgb(126, 0, 105);
}
.square {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 194, 145);
    float: left;
    margin: 2.5px;
    font-size: 50px;
}
.square:hover {
    background-color: #111;
    cursor: pointer;
}